<div>
    <form [formGroup]="logForm" (ngSubmit)="lstr()">
        <div>

            <label>
                First Name:
                    <input type="text" formControlName="firstName" maxlength="15" placeholder="john">
            </label>

            <span>
                    <i *ngIf = "!logForm.controls['firstName'].valid && ( logForm.controls['firstName'].touched) " >COMPLETE THE FIELD</i></span>
            <span>
                    <i *ngIf = "!logForm.controls['firstName'].valid && ( logForm.controls['firstName'].dirty)">ENTER CHARACTER eg: a,b,A,B</i>
               
            </span><br />

            <label>
                Last Name:
                    <input type="text" formControlName="lastName" maxlength="15" placeholder="Doe">
            </label>

            <span>
                    <i *ngIf = "!logForm.controls['lastName'].valid && ( logForm.controls['lastName'].touched) ">COMPLETE THE FIELD</i></span>
            <span>
                    <i *ngIf = "!logForm.controls['lastName'].valid && ( logForm.controls['lastName'].dirty)">ENTER CHARACTER eg: a,b,A,B</i>
               
            </span><br />

        </div>
        <div>

            <label>
                Email-ID:
                    <input type="email" formControlName="emails" placeholder="john@abc.com" >
            </label>

            <span>
                <i *ngIf = "!logForm.controls['emails'].valid && ( logForm.controls['emails'].touched) ">ENTER YOUR EMAIL</i></span>
            <span>
                <i *ngIf = "!logForm.controls['emails'].valid && ( logForm.controls['emails'].dirty)">Eg; john@as.com</i>
           
            </span><br />

            <label>
                Contact No.:
                    <input type="text" formControlName="cno" placeholder="9899999999">
            </label>
            <span>
                <i *ngIf = "!logForm.controls['cno'].valid && ( logForm.controls['cno'].touched) ">DIGITS ONLY</i></span>
            <span>
                <i *ngIf = "!logForm.controls['cno'].valid && ( logForm.controls['cno'].dirty)">Eg; 1,2,3,4,0</i>
               
            </span><br />

        </div>
        <div>


            <label>
                Password:
                    <input type="{{change}}" formControlName="pass1" minlength="8" maxlength="20" ><i class="fal-fa-eye" (click)='showHide()'>aankh</i>
            </label><br />

            <label>
              Confirm Password:
                 <input type="password" formControlName="pass2" (keyup) = "passWordCall()" minlength="8" maxlength="20" >
            </label>
            <span>
                    <i *ngIf = "(!logForm.controls['pass2'].valid && ( logForm.controls['pass2'].touched)) && !check">Enter Field</i></span>
            <span>
                    <i *ngIf = "!logForm.controls['pass2'].valid && ( logForm.controls['pass2'].dirty)">Eg; Same as password</i>
               
            </span><br />



        </div>
        <div>
            <label>
                Employee-ID:
                    <input type="text" formControlName="eid" maxlength="4" placeholder="1234">
            </label>
            <span>
                    <i *ngIf = "!logForm.controls['eid'].valid && ( logForm.controls['eid'].touched) ">Numeric only</i></span>
            <span>
                    <i *ngIf = "!logForm.controls['eid'].valid && ( logForm.controls['eid'].dirty)">Eg; 1234</i>
               
            </span><br />
            <label>
                Gender:
              <input type="text" formControlName="gender" maxlength="1" placeholder="M/F/O" >
            </label>
            <span>
                    <i *ngIf = "!logForm.controls['gender'].valid && ( logForm.controls['gender'].touched) ">YOUR GENDER</i></span>
            <span>
                    <i *ngIf = "!logForm.controls['gender'].valid && ( logForm.controls['gender'].dirty)">Eg; M, F or O</i>
               
            </span><br />
        </div>

        <div>
            <button type="submit" [disabled]="!logForm.valid">Submit</button>
        </div>
    </form>
    <div>







    </div>

</div>