<p>
    datapage works!
</p>
<table>
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>EMAIL</th>
        <th>CONTACT</th>
        <th>E-ID</th>
        <th>GENDER</th>
    </tr>

    <tr>
        <th>{{dataValue.firstName}}</th>
        <th>{{dataValue.lastName}}</th>
        <th>{{dataValue.emails}}</th>
        <th>{{dataValue.cno}}</th>
        <th>{{dataValue.eid}}</th>
        <th>{{dataValue.gender}}</th>
    </tr>
</table>
<div>
    <button type="button" (click)="editpage()">Edit</button>
</div>